<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script>
        window.onload = function () {
            setTimeout(function () {
                document.getElementById('posts').style.display = 'block';
            }, 3000);
        };
    </script>
    <title>Blog post</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12"><h1>This is the blog page</h1>

            <a href="{{ url_for('homepage') }}" class="nav-link" id="home-link">Go to home</a>
            <a href="{{ url_for('add_post') }}" class="btn btn-primary" id="add-post-link">Create post</a>

            {% if posts|length > 0 %}
                <ol id="posts" style="display: none">
                    {% for post in posts %}
                        <li class="post"><a href="{{ url_for('see_post', title=post['title']) }}"
                                            class="post-link">{{ post['title'] }}</a></li>
                    {% endfor %}
                </ol>
            {% endif %}</div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>