<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>New post</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12"> <h1>Create post</h1>

            <a href="{{ url_for('blog_page') }}" class="nav-link" id="blog-link">Back to blog</a>

            <form method="POST" id="post-form">
                <div>
                    <label for="title">Post title:</label>
                    <input type="text" name="title" id="title"/>
                </div>
                <div>
                    <label for="content">Post content:</label>
                    <textarea name="content" id="content"></textarea>
                </div>
                <div>
                    <button type="submit" id="create-post" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>